<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test Invoice!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}" />
        {% endblock %}
        {% block js_before %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}

    </head>
    <body>
        {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{message}}
            </div>

        {% endfor %}
        {% block body %}
            {% block content_body %}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script>
            $( document ).ready(function() {
                console.log( "ready!" );
            });
            {% block javascript_inside %}

            {% endblock %}
            </script>
        {% endblock %}
    </body>
</html>
